{%extends "layout.htm"%}
{%block content%}
<html>
        <link href ="../static/css/style3.css" rel = "stylesheet" type = "text/css">
<body>
<span onmouseover ="this.style.color='red'", onmouseout ="this.style.color='black'"><h2 style="text-align: center">COURSE DETAILS!</h2></span>
<section id = "trainings">
    <div class = "container">
    <div class = "box">
    <img src = "../static/images/R.png">
    <h4>DATA ANALYTICS USING R</h4>
    <p> Data analysis becomes essential part of every day life. After this course, you will be able to conduct data analysis task yourself. Gain insights from the data.

        Will be using R - widely used tool for data analysis and visualization.
        
        Data Science project will be core course component - will be working on it after mastering all necessary background. Doing data analysis from ground up to final insights.
        
        Starting from very basics we will move to various input and output methods. Yet another important concept - visualization capabilities. After the course you will be able to produce convincing graphs.
        
        Background behind functional programming will be presented - including building your own functions.
        
        After finishing the course you will feel much more comfortable programming in other languages as well. This is because R being fully empowered programming language itself.</p>
    </div>
    <div class = "box">
    <img src = "../static/images/moodle.png">
    <h4>moodle</h4>
    <p>Moodle is a free and open-source learning management system (LMS) written in PHP and distributed under the GNU General Public License. Developed on pedagogical principles, Moodle is used for blended learning, distance education, flipped classroom and other e-learning projects in schools, universities, workplaces and other sectors.

        With customizable management features, it is used to create private websites with online courses for educators and trainers to achieve learning goals. Moodle (acronym for modular object-oriented dynamic learning environment) allows for extending and tailoring learning environments using community sourced plugins</p>
    </div>
    <div class = "box">
    <img src = "../static/images/IoT.png">
    <h4>Certified IT specialist</h4>
    <p>This five-course certificate, developed by Google, includes innovative curriculum designed to prepare you for an entry-level role in IT support. A job in IT can mean in-person or remote help desk work in a small business or at a global company like Google. If you’ve been tinkering with IT or are new to the field, you’re at the right place. The program is part of Grow with Google, a Google initiative to help create economic opportunities for all Americans.

        Upon completion of the certificate, you can share your information with top employers like Cognizant, GE Digital, H&R Block, Hulu, J.M. Smucker, Infosys, Intel, KForce, MCPc, PNC Bank, RICOH USA, Sprint, TEKSystems, UPMC, Veterans United Home Loans, Walmart and their subsidiaries, and of course, Google.</p>
    </div>
    </div>
    
    </section>
</body>
</html>
{%endblock%}