{%extends "layout.htm"%}
{%block content%}
<html>
<head>
<title>ICT ACADEMY</title>
<link href ="../static/css/style3.css" rel = "stylesheet" type = "text/css">
</head>
<body>
<section id = "showcase">
<div class = "container">
<h3><b>IT AND LIFE SKILLS TRAINING</b></h3>
<p><strong>BUILDING THE NATIONS FUTURE</strong></p>
</div>
</section>

<br>
<br>
<section id = "trainings">
<div class = "container">
<div class = "box">
<img src = "../static/images/IoT.png">
<h4>DATA ANALYTICS USING R</h4>
<p>Data Mining overview . Introduction to data science . Why big data ?</p>
</div>
<div class = "box">
<img src = "../static/images/moodle.png">
<h3>moodle</h3>
<p>it is a free course. its for anybody</p>
</div>
<div class = "box">
<img src = "../static/images/R.png">
<h4>Certified IT specialist</h4>
<p>Internet of things(IOT) is one of the most disruptive technology advancement in the world of IT. I t gave an opportunity for IT systems to talk physical systems in the world</p></h5>
</div>
</div>

</section>
</html>
{%endblock%}