{%extends "layout.htm"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href = "../static/css/style3.css", rel = "stylesheet", type = "text/css">
</head>
<body>
        <h2>Log In</h2>
        <form action = "hello.html" method = "POST">
                USERNAME : <input type = "text" name = "First_Name"/>
                <br><br>
                PASSWORD : <input type = "password" name = "password"/><br><br>
                <input type = "submit" name = "submit" value = "submit"/><br>

            </form>
</body>
</html>
{%endblock%}